<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/bookLayout.html}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bookList.css">
  <title>도서 목록</title>
</head>

<body>

  <div layout:fragment="content">
    <div class="properties section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center" style="margin-top: -100px;">
            </div>

          </div>
          <div class="create">
            <a href="/book/create" sec:authorize="hasRole('ROLE_ADMIN')">도서 등록</a>
          </div>
        </div>
        <div class="row">
          <div th:each="book : ${book.list}" class="col-lg-4">
            <div class="item">
              <div class="image-container">
                <div th:each="fname : ${book.fnames}">
                  <img th:src="@{|http://localhost:/${fname}|}" height="500px" width="350px">
                </div>
                <div th:class="'status-label ' + (${book.status} == '대출 가능' ? 'available' : 'unavailable')"
                  th:text="${book.status}"></div>
              </div>
              <h4 th:text="${book.title}"></h4>
              <ul>
                <li>작가: <span th:text="${book.author}"></span></li>
                <li>출간일: <span th:text="${#temporals.format(book.publication_date, 'yyyy-MM-dd')}"></span></li>
              </ul>
              <div class="main-button">
                <a th:href="@{/book/read/{bookNumber}(bookNumber=${book.book_number})}">자세히 보기</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 페이징 처리 -->
        <div class="btn-toolbar" role="toolbar" style="justify-content: center">
          <div class="btn-group me-2 paging" role="group" aria-label="First group" style="width: 40%"></div>
        </div>
        <br>
        <!-- 검색 -->
        <div class="mb-3 searchWrap row">
          <form action="/book/list" method="get" class="actionForm d-flex align-items-end">
            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <select name="type" class="form-select form-select-sm me-2 col-2" style="width: 28.57%;">
              <option value="tap" th:selected="${pageRequestDTO.type == 'tap'}">통합검색</option>
              <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
              <option value="a" th:selected="${pageRequestDTO.type == 'a'}">저자</option>
              <option value="p" th:selected="${pageRequestDTO.type == 'p'}">출판사</option>
            </select>
            <input type="text" name="keyword" class="form-control me-2 col-4" style="width: 57.14%;" placeholder="검색어를 입력해주세요." th:value="${pageRequestDTO.keyword}">
            <button type="submit" class="btn btn-primary btnSearch col-1" style="width: 14.29%;">검색</button>
          </form>
        </div>

      </div>
    </div>

    <script src="/js/bookPaging.js"></script>

  </div>

  <script layout:fragment="script" th:inline="javascript">

    const actionForm = document.querySelector(".actionForm")
    const paging = document.querySelector(".paging")
    const pageObj = document.querySelector("input[name=page]")

    const { page, size } = [[${ pageRequestDTO }]]
    const { total } = [[${ book }]]

    console.log("page: " + page)
    console.log("size: " + size)
    console.log("total: " + total)

    // 페이지 동적으로 생성
    const pageList = makePage(page, size, total)
    paging.innerHTML = pageList

    //페이징 이동 버튼
    paging.addEventListener("click", (e) => {

      e.preventDefault()
      e.stopPropagation()

      // 타겟 잡기
      const target = e.target

      console.log(target)

      // paging 번호 가져오기
      const pageNum = target.getAttribute("href")
      console.log(pageNum)

      //쿼리에 들어오는 page값 수정하기
      pageObj.value = pageNum

      // console.log(pageObj.value)

      actionForm.setAttribute("action", "/book/list")
      actionForm.submit()

    }, false)


  </script>

</body>

</html>