<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/bookLayout.html}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bookList.css">
  <title>도서 목록</title>
</head>

<body>

  <div layout:fragment="content">
    <div class="properties section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center" style="margin-top: -100px;">
              <h6>| Properties</h6>
              <h2>We Provide The Best Property You Like</h2>
            </div>
          </div>
          <div class="create">
            <a href="/book/create">도서 등록</a>
          </div>
        </div>
        <div class="row">
          <div th:each="book : ${book.list}" class="col-lg-4">
            <div class="item">
              <div class="image-container">
                <div th:each="fname : ${book.fnames}">
                  <img th:src="@{|http://localhost:/${fname}|}" width="300">
                </div>
                <div th:class="'status-label ' + (${book.status} == '대출 가능' ? 'available' : 'unavailable')"
                  th:text="${book.status}"></div>
              </div>
              <h4 th:text="${book.title}"></h4>
              <ul>
                <li>작가: <span th:text="${book.author}"></span></li>
                <li>출간일: <span th:text="${#temporals.format(book.publication_date, 'yyyy-MM-dd')}"></span></li>
              </ul>
              <div class="main-button">
                <a th:href="@{/book/read/{bookNumber}(bookNumber=${book.book_number})}">자세히 보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>