<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/bookLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bookRead.css">
    <title>도서 정보</title>
</head>

<body>

    <div layout:fragment="content">

        <div class="container book-container">

            <div class="book-row">

                <input type="hidden" name="memberId" th:value="${#authentication.principal.id}">
                <input type="hidden" name="bookNumber" th:value="${book.book_number}">
                <input type="hidden" name="status" th:value="${book.status}">
                <input type="hidden" name="loanStatus" th:value="${loan != null ? loan.status : ''}">

                <h3 class="book-info-title"><span th:text="${book.title}"></span></h3>

                <div class="book-col-lg-6">
                    <div th:each="fname : ${book.fnames}" class="book-image-container">
                        <img th:src="@{|http://localhost/${fname}|}">
                    </div>
                </div>

                <div class="book-input-section book-col-lg-6">
                    <ul class="book-metadata-list">
                        <li class="book-metadata-item"><strong>저자</strong> - <span th:text="${book.author}"></span></li>
                        <li class="book-metadata-item"><strong>출판사</strong> - <span th:text="${book.publisher}"></span>
                        </li>
                        <li class="book-metadata-item"><strong>출판일</strong> - <span
                                th:text="${book.publication_date}"></span></li>
                        <li class="book-metadata-item"><strong>ISBN</strong> - <span th:text="${book.isbn}"></span></li>
                        <li class="book-metadata-item"><strong>쪽수</strong> - <span th:text="${book.total_pages}"></span>
                        </li>
                    </ul>
                    <div class="book-description"><strong>책 소개</strong> <br>
                        <span th:text="${book.description}"></span>
                    </div>

                    <div class="buttonWrap">
                        <a class="updateBtn" th:href="@{/book/update/{bookNumber}(bookNumber=${book.book_number})}">도서
                            수정</a>
                        <button id="returnBtn" class="returnBtn">반납하기</button>
                        <button id="borrowBtn" class="borrowBtn">대여하기</button>
                    </div>
                    <!-- <p>
                        User ID: <span th:text="${userDetails.id}"></span><br>
                        Authorities (Roles):
                        <ul>
                            <li th:each="authority : ${userDetails.authorities}" th:text="${authority.authority}"></li>
                        </ul>
                    </p> -->
                </div>

            </div>

        </div>

    </div>

    <script layout:fragment="script" th:inline="javascript">

        const borrowBtn = document.querySelector(".borrowBtn")
        const returnBtn = document.querySelector(".returnBtn")
        const bookStatus = document.querySelector("input[name=status]").value
        const bookNumber = document.querySelector("input[name=bookNumber]").value
        const memberId = document.querySelector("input[name=memberId]").value
        const loanStatus = document.querySelector("input[name=loanStatus]").value

        if (loanStatus === '대출 중') {
            borrowBtn.style.display = "none";
            returnBtn.style.display = "block";
        } else {
            borrowBtn.style.display = "block";
            returnBtn.style.display = "none";
        }


        // 대여 버튼 클릭 시
        borrowBtn.addEventListener("click", async (e) => {

            e.stopPropagation()
            e.preventDefault()

            // 대출 전 상태 확인
            if (bookStatus === '대출 중') {
                alert('도서가 대출 중이므로 대여할 수 없습니다.');
                return;
            }
            const selectedPeriod = 1

            const borrow = await axios.post('http://localhost:8080/api/loan/borrow', {
                bookNumber,
                memberId,
                selectedPeriod,
            })

            alert("대여가 완료되었습니다.")

        }, false)

        // 반납 버튼 클릭 시 
        returnBtn.addEventListener("click", async (e) => {

            e.preventDefault()
            e.stopPropagation()

            console.log(memberId)
            console.log(bookNumber)

            const bookReturn = await axios.post(`http://localhost:8080/api/loan/return`, {
                bookNumber,
                memberId
            })

            alert("반납이 완료되었습니다.")

        }, false)

    </script>

</body>

</html>