<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/bookLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bookRead.css">
    <title>도서 정보</title>
</head>

<body>

<div layout:fragment="content" class="book-details-container">

    <div class="book-details">
        <div th:each="fname : ${book.fnames}" class="book-image">
            <img th:src="@{|http://localhost/${fname}|}" alt="Book Cover">
        </div>
        <div class="book-info">
            <div class="book-title"><span th:text="${book.title}"></span></div>
            <ul class="book-metadata">
                <li class="book-author"><span th:text="${book.author}"></span></li>
                <li class="book-publisher"><span th:text="${book.publisher}"></span></li>
                <li class="book-publication-date"><span th:text="${book.publication_date}"></span></li>
                <li class="book-isbn"><span th:text="${book.isbn}"></span></li>
                <li class="book-total-pages"><span th:text="${book.total_pages}"></span></li>
            </ul>
            <div class="book-description"><span th:text="${book.description}"></span></div>
        </div>
    </div>

</div>

</body>

</html>
