<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form action="/member/login" method="post" class="login-form">
                <input type="text" name="username" placeholder="아이디" />
                <input type="password" name="password" placeholder="비밀번호" />
                <label class="checkbox-container">
                    <input type="checkbox" name="remember-me">
                    <span class="checkmark"></span>
                    로그인 상태 유지
                </label>
                <button>로그인</button>
                <a href="/oauth2/authorization/kakao" class="kakao">카카오 로그인</a>

              <br>

                <a href="/member/create" class="signup">회원가입</a></p>
            </form>
        </div>
    </div>
</body>

</html>
