<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/bookLayout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>

</head>

<body>

<div layout:fragment="content" class="container pt-4 px-4">
    <div class="row">
        <!-- 왼쪽에 네비게이션 메뉴 추가 -->
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showMemberInfo()">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showRecordInfo()">활동 기록</a>
                </li>
            </ul>
        </div>

        <!-- 회원 정보 내용 -->
        <div class="col-md-10">
            <div class="bg-light rounded h-100 p-4 memberInfo">
                <h2 class="mb-4">내 정보</h2>

                <div class="mb-3">
                    <label for="id" class="form-label">id</label>
                    <input type="text" class="form-control" id="id" th:value="${member.id}" readonly>
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">nickname</label>
                    <input type="text" class="form-control" id="nickname" th:value="${member.nickname}"
                           readonly>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="text" class="form-control" id="email" th:value="${member.email}"
                           readonly>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">phoneNumber</label>
                    <input type="text" class="form-control" id="phoneNumber" th:value="${member.phoneNumber}"
                           readonly>
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">birthDate</label>
                    <input type="text" class="form-control" id="birthDate" th:value="${member.birthDate}"
                           readonly>
                </div>
                <div class="mb-3">
                    <label for="accountDate" class="form-label">accountDate</label>
                    <input type="text" class="form-control" id="accountDate"
                           th:value="${#temporals.format(member.accountDate, 'yyyy-MM-dd HH:mm')}" readonly>
                </div>
                <div class="button_wrap">
                    <a href="/member/update" class="btn btn-primary modifyBtn">정보 수정</a>
                    <a href="/book/list" class="btn btn-secondary returnBtn">목록</a>
                </div>
            </div>

            <div class="bg-light rounded h-100 p-4 recordInfo" style="display: none">

                <div class="nav2">
                    <li>
                        <a href="#" >대여중인 책</a>
                        <a>반납한 책</a>
                    </li>


                </div>


            </div>


        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const showMemberInfo = function () {
        document.querySelector(".memberInfo").style.display = 'block'
        document.querySelector(".recordInfo").style.display = 'none'
    }

    const showRecordInfo = function () {
        document.querySelector(".memberInfo").style.display = 'none'
        document.querySelector(".recordInfo").style.display = 'block'
    }


</script>


</body>

</html>
