.board-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board-header {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    padding: 10px;
}

.board-title {
    flex: 1;
    font-size: 23px;
}

.board-writer {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-content {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.reply {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

.reply strong {
    font-size: 16px;
    color: #333;
    padding: 10px;
}

.reply input[type="text"] {
    width: 1100px;
    height: 52px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 22px;
}

.reply .replyCreateBtn {
    width: 80px;
    height: 52px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.reply input[type="button"]:hover {
    background-color: #0056b3;
}

.replyListUl {
    list-style-type: none;
    padding: 0;
}

.replyListUl li {
    padding: 10px;
}

.replyListUl li .replyer {
    font-weight: bold;
}

.replyListUl li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.replyListUl li button:hover {
    background-color: #0056b3;
}

.replyChild {
    margin-left: 60px;
    position: relative;
}

.replyChild::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: translateY(-50%) rotate(45deg);
}

.replyDiv {
    padding: 10px;
    border: 0.4px solid gray;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.createReplyBtn {
    border: none;
    padding: 5px 10px;
    color: #007bff;
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
}

.replyFormContainer .btn {
    width: 80px;
    height: 52px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.updateButton{
    float: right;
    margin-right: 10px;
}