.item {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }

  .image-container {
    position: relative;
  }

  .status-label {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
  }

  .status-label.available {
    background-color: #007bff;
  }

  .status-label.unavailable {
    background-color: #ff0000;
  }